<!DOCTYPE html>
<html>

<head>
    <%- include("partials/header") %>
</head>

<body>
    <div class="auth-container">
        <h2>Login</h2>

        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <p>Don't have an account?
            <a href="/signup">Sign Up</a>
        </p>

        <button id="themeToggle" class="auth-theme">🌙</button>

        <p class="watermark">© 2025 Mutahhar Aquib</p>
    </div>
    <a href="https://github.com/YOUR_USERNAME/todo" target="_blank" class="github-link">View on GitHub ↗</a>

    <script src="/script.js"></script>
</body>

</html>