/* 
todo :
light theme 
dark theme
mobile responsive - media queries (max-width: 480px)
*/

/* Light Theme */
:root {
    --bg: #ffffff;
    --text: #000000;
    --card: #f5f5f5;
}

/* Dark Theme */
.dark {
    --bg: #000000;
    --text: #ffffff;
    --card: #111111;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#themeToggle {
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.add-form {
    display: flex;
    margin-top: 20px;
}

.add-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--text);
    background: var(--bg);
    color: var(--text);
}

.add-form button {
    padding: 10px 20px;
    border: none;
    background: var(--text);
    color: var(--bg);
    cursor: pointer;
}

.task-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--card);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-list li.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: transparent;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
}

@media(max-width: 480px) {
    .container {
        margin: 20px;
    }
}
/* Auth Pages */
.auth-container {
    max-width: 380px;
    margin: 60px auto;
    padding: 25px;
    border: 1px solid var(--text);
    background: var(--bg);
    border-radius: 8px;
    text-align: center;
}

.auth-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid var(--text);
    background: var(--bg);
    color: var(--text);
}

.auth-container button {
    width: 100%;
    padding: 12px;
    background: var(--text);
    color: var(--bg);
    border: none;
    cursor: pointer;
}

.auth-theme {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Logout Btn */
.logout-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--text);
    color: var(--bg);
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
}
